<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <RollingFile name="MyRollingFileAppender" fileName="./logs/jumper_game.log" filePattern="./logs/jumper_game.%d{yyyy-MM-dd}-%i.log">
            <PatternLayout
                    pattern="%d{HH:mm:ss,SSS} %c{3} [%t] %-5level: %msg%n%throwable" />
            <Policies>
                <SizeBasedTriggeringPolicy size="50KB"/>
                <TimeBasedTriggeringPolicy interval="8"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="MyRollingFileAppender" />
        </Root>
    </Loggers>
</Configuration>